.profile__avatar-button {
  background-image: url(../../../image/VectorAvatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}