.popup__input_type_personal {
  margin-top: 30px;
  margin-left: 36px;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .popup__input_type_personal {
    margin-left: 22px;
  }
}