.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  max-width: 358px;
  min-height: 14px;
  border: none;
  border-bottom: 1px solid #000000;
}

@media (max-width: 880px) {
  .popup__input {
    max-width: 238px;
  }
}