.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 880px;
  gap: 20px 17px;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .elements {
    max-width: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .elements {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
  }
}