.popup__input_type_name {
  margin-top: 54px;
  margin-left: 36px;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 880px) {
  .popup__input_type_name {
    margin-top: 75px;
    margin-left: 22px;
  }
}