.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  cursor: pointer;
  right: -40px;
	top: -40px;
  transition: .2s;
  background-image: url(../../../image/CloseIcon.svg);
  background-repeat: no-repeat;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 880px) {
  .popup__close {
    background-image: url(../../../image/CloseIcon-2.svg);
    width: 20px;
    height: 20px;
    right: 0;
	  top: -30px;
  }
}