.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 0;
  padding: 0;
}

@media (max-width: 480px) {
    .popup__title {
      font-size: 18px;
      line-height: 22px;
      margin-top: 22px;
      margin-left: 22px;
    }
  }